﻿/* Icomoon Font*/
[class*="icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-left:before {
  content: "\e600";
}
.icon-arrow-down:before {
  content: "\e601";
}
.icon-arrow-up:before {
  content: "\e602";
}
.icon-uniE603:before {
  content: "\e603";
}
.icon-facebook:before {
  content: "\e604";
}
.icon-twitter:before {
  content: "\e605";
}
.icon-vimeo:before {
  content: "\e606";
}
.icon-linkedin:before {
  content: "\e607";
}
.icon-tumblr:before {
  content: "\e608";
}
.icon-googleplus:before {
  content: "\e609";
}
.icon-pinterest:before {
  content: "\e60a";
}
.icon-soundcloud:before {
  content: "\e60b";
}
.icon-paperplane:before {
  content: "\e60f";
}
.icon-mail:before {
  content: "\e617";
}
.icon-location:before {
  content: "\e618";
}
.icon-instagram:before {
  content: "\e60c";
}
.icon-deviantart:before {
  content: "\e60d";
}
.icon-github:before {
  content: "\e60e";
}
.icon-opera:before {
  content: "\e611";
}
.icon-IE:before {
  content: "\e612";
}
.icon-firefox:before {
  content: "\e613";
}
.icon-chrome:before {
  content: "\e614";
}
.icon-css3:before {
  content: "\e615";
}
.icon-html5:before {
  content: "\e616";
}
.icon-safari:before {
  content: "\e610";
}
