﻿#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: #FFF;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 0;
  margin-top: -1px;
  width: 100%;
  height: 2px;
}
body {
  font-family: 'aleoregular';
}
.load-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
}
.load-wrap .upper-wrap,
.load-wrap .lower-wrap {
  width: 100%;
  position: absolute;
  height: 50%;
  background: #111111;
}
.load-wrap .upper-wrap {
  top: 0;
}
.load-wrap .lower-wrap {
  top: 50%;
}
header.black {
  color: #ffffff;
  background: #111111;
}
header.black nav ul li a:hover {
  background: #ffffff;
  color: #111111;
}
header.white {
  color: #111111;
  background: #ffffff;
}
header.white nav ul li a:hover {
  background: #111111;
  color: #ffffff;
}
header {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 9;
  font-family: 'weblysleek_uilight';
}
header #logo {
  font-size: 1.35em;
}
header table {
  width: 80%;
  margin: 0px auto;
}
header table td:first-child {
  width: 20%;
  text-align: center;
}
header table td:last-child {
  width: 80%;
  vertical-align: top;
}
header nav ul {
  float: right;
  list-style: none;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  color: inherit;
  text-decoration: none;
  padding: 7px 20px 8px 20px;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
header nav ul li a:hover {
  background: #ffffff;
  color: #111111;
}
#hello {
  width: 100%;
  overflow: hidden;
}
#hello img {
  max-width: 100%;
  height: auto;
}
#hello .hello-content {
  position: absolute;
  z-index: 1;
  color: #ffffff;
  text-align: center;
  height: 170px;
  width: 100%;
  top: 50%;
  margin-top: -75px;
}
#hello .hello-content h1,
#hello .hello-content h2 {
  margin: 4px;
  -webkit-text-shadow: 1px 1px rbga(0, 0, 0, 0.8);
  text-shadow: 1px 1px rbga(0, 0, 0, 0.8);
  font-size: 2.4em;
}
#hello .hello-content h2 {
  font-family: 'aleolight';
}
#hello .hello-content .hello-button {
  text-decoration: none;
  color: inherit;
  padding: 10px 35px 10px 35px;
  border: 1px solid #ffffff;
  font-family: 'weblysleek_uilight';
  text-transform: uppercase;
  font-size: 13px;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
#hello .hello-content .hello-button:hover {
  background: #ffffff;
  color: #111111;
}
#skills {
  padding: 25px;
}
#skills h1 {
  font-family: 'aleoregular';
  margin-top: 75px;
  font-size: 2.3em;
  color: #111111;
}
#skills h2.skill-tip {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-top: 70px;
  font-size: 1.5em;
  font-family: 'aleolight';
}
#skills .min-canvas-wrapper {
  width: 15%;
  display: inline-block;
  text-align: center;
}
#skills .min-canvas-wrapper span {
  display: block;
  font-size: 14px;
  font-family: 'weblysleek_uilight';
}
#skills .max-canvas-wrapper {
  width: 48%;
  display: inline-block;
  text-align: center;
}
#skills .max-canvas-wrapper span {
  display: block;
  font-size: 14px;
  font-family: 'weblysleek_uilight';
}
#work {
  padding: 25px;
  background: #111111;
  color: #ffffff;
}
#work .head-cate.fixed {
  position: fixed;
  top: 15px;
}
#work .head-cate ul {
  list-style: none;
}
#work .head-cate ul li {
  padding: 3px 0px;
}
#work .head-cate ul li a {
  text-decoration: none;
  color: inherit;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
#work .head-cate ul li a:hover {
  border-right: 2px solid #ffffff;
  padding-right: 10px;
}
#work .head-cate ul li a.active {
  border-right: 2px solid #ff6a00;
  padding-right: 10px;
  color: #ff6a00;
}
#work h1 {
  font-family: 'aleolight';
  margin-top: 75px;
  font-size: 2.3em;
}
#work .folio {
  width: 100%;
  min-height: 500px;
  float: none;
  padding-top: 75px;
}
#work .folio ul {
  list-style: none;
  padding: 0;
}
#work .folio ul li {
  opacity: 0;
  display: none;
  margin-left: 3px;
}
#work .folio ul li .folio-item {
  background-color: #ffffff;
  background-image: url(images/thumbs/thumbs.jpg);
  height: 195px;
  width: 195px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#work .folio ul li .folio-item-hover {
  position: absolute;
  height: 185px;
  width: 185px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.9);
  z-index: 2;
  margin-top: 195px;
  overflow: hidden;
}
#work .folio ul li .folio-item-hover h2 {
  font-family: 'aleolight';
  font-size: 1.2em;
  margin: 0px;
}
#work .folio ul li .folio-item-hover .folio-category {
  padding: 5px 0px;
}
#work .folio ul li .folio-item-hover .folio-category span {
  background: #ffffff;
  display: inline-block;
  padding: 5px 20px;
  color: #111111;
  font-family: 'weblysleek_uilight';
  font-size: 14px;
  margin-left: 2px;
}
#work .folio ul li .folio-item-hover .folio-category span:first-child {
  margin-left: 0;
}
#work .folio ul li .folio-item-hover a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: inherit;
  padding: 10px 25px;
  border: 1px solid #ffffff;
  font-family: 'weblysleek_uilight';
  font-size: 12px;
  text-transform: uppercase;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
#work .folio ul li .folio-item-hover a:hover {
  background: #ff6a00;
  border: 1px solid #ff6a00;
}
.skills-wrapper,
.work-wrapper {
  width: 90%;
  margin: 0px auto;
}
.skills-wrapper table,
.work-wrapper table {
  width: 100%;
}
.skills-wrapper table td:first-child,
.work-wrapper table td:first-child {
  vertical-align: top;
  width: 30%;
  text-align: right;
  padding-right: 30px;
}
.skills-wrapper table td:first-child h2,
.work-wrapper table td:first-child h2 {
  font-family: 'aleolight';
}
.skills-wrapper table td:last-child,
.work-wrapper table td:last-child {
  width: 70%;
}
.para-image-wrapper {
  width: 100%;
}
.overlay {
  background: transparent url(images/03.png) repeat 0 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
#about .about-wrapper {
  margin: 0px auto;
  padding: 75px 0px;
  color: #111111;
  width: 750px;
  position: relative;
  top: 100px;
}
#about .about-wrapper .photo-wrap {
  width: 600px;
  height: 90px;
  background: #111111 url(images/pic01.jpg) no-repeat 40% 95%;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
#about .about-wrapper .photo-wrap h1 {
  position: absolute;
  color: #ffffff;
  z-index: 3;
  padding: 20px 10px;
  margin: 0;
  font-size: 2.8em;
  font-family: 'aleolight';
  -webkit-text-shadow: 1px 1px #111111;
  text-shadow: 1px 1px #111111;
}
#about .about-wrapper .text-wrap {
  width: 750px;
}
#contact {
  background: #111111;
}
#contact .contact-wrapper {
  height: 400px;
  width: 70%;
  margin: 0px auto;
  padding-top: 15%;
}
#contact .contact-wrapper table {
  width: 100%;
}
#contact .contact-wrapper table td {
  width: 50%;
}
#contact .contact-wrapper table .social-wrap {
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
}
#contact .contact-wrapper table .social-wrap h1 {
  color: #ffffff;
  font-size: 2.5em;
  font-family: 'aleolight';
}
#contact .contact-wrapper table .social-wrap .icon-wrap {
  margin-top: 3px;
  display: inline-block;
}
#contact .contact-wrapper table .social-wrap .icon-wrap button {
  border: none;
  width: 50px;
  height: 50px;
  background: #ffffff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
}
#contact .contact-wrapper table .social-wrap .icon-wrap button:focus,
#contact .contact-wrapper table .social-wrap .icon-wrap button:hover {
  background: #111111;
  border: 1px solid #ffffff;
  color: #ffffff;
}
#contact .contact-wrapper form textarea {
  min-width: 300px;
  max-width: 300px;
  min-height: 25px;
  padding: 4px;
  margin: 4px;
  border: 1px solid #ffffff;
  background: #111111;
  color: #ffffff;
  outline: none;
  height: 75px;
  max-height: 75px;
}
#contact .contact-wrapper form textarea:focus {
  background: #ffffff;
  color: #111111;
}
#contact .contact-wrapper form input[type="text"] {
  min-width: 300px;
  max-width: 300px;
  min-height: 25px;
  padding: 4px;
  margin: 4px;
  border: 1px solid #ffffff;
  background: #111111;
  color: #ffffff;
  outline: none;
}
#contact .contact-wrapper form input[type="text"]:focus {
  background: #ffffff;
  color: #111111;
}
#contact .contact-wrapper form input[type="email"] {
  min-width: 300px;
  max-width: 300px;
  min-height: 25px;
  padding: 4px;
  margin: 4px;
  border: 1px solid #ffffff;
  background: #111111;
  color: #ffffff;
  outline: none;
}
#contact .contact-wrapper form input[type="email"]:focus {
  background: #ffffff;
  color: #111111;
}
#contact .contact-wrapper form input[type="submit"] {
  padding: 10px 30px 8px 30px;
  margin: 4px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  font-family: 'weblysleek_uilight';
  font-size: 13px;
  background: #111111;
  color: #ffffff;
  outline: none;
}
#contact .contact-wrapper form input[type="submit"]:focus,
#contact .contact-wrapper form input[type="submit"]:hover {
  background: #ffffff;
  color: #111111;
}
#contact .contact-wrapper .input-basics {
  min-width: 300px;
  max-width: 300px;
  min-height: 25px;
  padding: 4px;
  margin: 4px;
  border: 1px solid #ffffff;
  background: #111111;
  color: #ffffff;
  outline: none;
}
#contact .contact-wrapper .input-basics:focus {
  background: #ffffff;
  color: #111111;
}
footer {
  position: absolute;
  z-index: 3;
  margin-top: -40px;
  text-align: center;
  width: 100%;
  color: #999999;
  font-family: 'weblysleek_uilight';
}
footer p {
  font-size: 12px;
  -webkit-text-stroke: 0pt !important;
}
::-webkit-input-placeholder {
  /* WebKit browsers */

  color: #ffffff;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */

  color: #ffffff;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */

  color: #ffffff;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */

  color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  -webkit-text-stroke: 0.2pt !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
