﻿@FontColor: #111;
@MainColor: #999;
@SecondColor: #FFF;
@Transparent: rgba(0,0,0,0.6);
@Transparent2x: rgba(0,0,0,0.9);
@Contrast: #ff6a00;

@serif-bold: 'aleobold';
@serif-regular: 'aleoregular';
@serif-light: 'aleolight';

@sans-light: 'weblysleek_uilight';

#nprogress {
    pointer-events: none;
}

    #nprogress .bar {
        background: #FFF;
        position: fixed;
        z-index: 100;
        top: 50%;
        left: 0;
        margin-top: -1px;
        width: 100%;
        height: 2px;
    }


body {
    font-family: @serif-regular;
}

.load-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;

    .upper-wrap, .lower-wrap {
        width: 100%;
        position: absolute;
        height: 50%;
        background: @FontColor;
    }

    .upper-wrap {
        top: 0;
    }

    .lower-wrap {
        top: 50%;
    }
}

header.black {
    color: @SecondColor;
    background: @FontColor;

    nav {
        ul {
            li {
                a {
                    &:hover {
                        background: @SecondColor;
                        color: @FontColor;
                    }
                }
            }
        }
    }
}

header.white {
    color: @FontColor;
    background: @SecondColor;

    nav {
        ul {
            li {
                a {
                    &:hover {
                        background: @FontColor;
                        color: @SecondColor;
                    }
                }
            }
        }
    }
}

header {
    width: 100%;
    height: 60px;
    position: fixed;
    //top: -60px;
    z-index: 9;
    font-family: @sans-light;

    #logo {
        font-size: 1.35em;
    }

    table {
        width: 80%;
        margin: 0px auto;

        td {


            &:first-child {
                width: 20%;
                text-align: center;
            }

            &:last-child {
                width: 80%;
                vertical-align: top;
            }
        }
    }

    nav {


        ul {
            float: right;
            list-style: none;

            li {
                display: inline-block;

                a {
                    color: inherit;
                    text-decoration: none;
                    padding: 7px 20px 8px 20px;
                    -moz-transition: 0.3s ease-in;
                    -o-transition: 0.3s ease-in;
                    -webkit-transition: 0.3s ease-in;
                    transition: 0.3s ease-in;

                    &:hover {
                        background: @SecondColor;
                        color: @FontColor;
                    }
                }
            }
        }
    }
}

#hello {
    width: 100%;
    overflow: hidden;

    img {
        max-width: 100%;
        height: auto;
    }

    .hello-content {
        position: absolute;
        z-index: 1;
        color: @SecondColor;
        text-align: center;
        height: 170px;
        width: 100%;
        top: 50%;
        margin-top: -75px;


        h1, h2 {
            margin: 4px;
            -webkit-text-shadow: 1px 1px rbga(0,0,0,0.8);
            text-shadow: 1px 1px rbga(0,0,0,0.8);
            font-size: 2.4em;
        }

        h2 {
            font-family: @serif-light;
        }

        .hello-button {
            text-decoration: none;
            color: inherit;
            padding: 10px 35px 10px 35px;
            border: 1px solid @SecondColor;
            font-family: @sans-light;
            text-transform: uppercase;
            font-size: 13px;
            -moz-transition: 0.3s ease-in;
            -o-transition: 0.3s ease-in;
            -webkit-transition: 0.3s ease-in;
            transition: 0.3s ease-in;

            &:hover {
                background: @SecondColor;
                color: @FontColor;
            }
        }
    }
}

#skills {
    padding: 25px;

    h1 {
        font-family: @serif-regular;
        margin-top: 75px;
        font-size: 2.3em;
        color: @FontColor;
    }

    h2.skill-tip {
        width: 100%;
        text-align: center;
        display: inline-block;
        margin-top: 70px;
        font-size: 1.5em;
        font-family: @serif-light;
    }

    .min-canvas-wrapper {
        width: 15%;
        display: inline-block;
        text-align: center;

        span {
            display: block;
            font-size: 14px;
            font-family: @sans-light;
        }
    }

    .max-canvas-wrapper {
        width: 48%;
        display: inline-block;
        text-align: center;

        span {
            display: block;
            font-size: 14px;
            font-family: @sans-light;
        }
    }
}

#work {
    padding: 25px;
    background: @FontColor;
    color: @SecondColor;

    .head-cate.fixed {
        position: fixed;
        top: 15px;
    }

    .head-cate {
        ul {
            list-style: none;

            li {
                padding: 3px 0px;

                a {
                    text-decoration: none;
                    color: inherit;
                    -moz-transition: all 0.15s ease-in;
                    -o-transition: all 0.15s ease-in;
                    -webkit-transition: all 0.15s ease-in;
                    transition: all 0.15s ease-in;

                    &:hover {
                        border-right: 2px solid @SecondColor;
                        padding-right: 10px;
                    }
                }

                    a.active {
                        border-right: 2px solid @Contrast;
                        padding-right: 10px;
                        color: @Contrast;
                    }
            }
        }
    }

    h1 {
        font-family: @serif-light;
        margin-top: 75px;
        font-size: 2.3em;
    }

    .folio {
        width: 100%;
        min-height: 500px;
        float: none;
        padding-top: 75px;

        ul {
            list-style: none;
            padding: 0;

            li {
                opacity: 0;
                display: none;
                margin-left: 3px;

                .folio-item {
                    background-color: @SecondColor;
                    background-image: url(images/thumbs/thumbs.jpg);
                    height: 195px;
                    width: 195px;
                    cursor: pointer;
                    position: relative;
                    z-index: 1;
                    overflow: hidden;
                }

                .folio-item-hover {
                    position: absolute;
                    height: 185px;
                    width: 185px;
                    padding: 5px;
                    background: @Transparent2x;
                    z-index: 2;
                    margin-top: 195px;
                    overflow: hidden;

                    h2 {
                        font-family: @serif-light;
                        font-size: 1.2em;
                        margin: 0px;
                    }

                    .folio-category {
                        padding: 5px 0px;

                        span {
                            background: @SecondColor;
                            display: inline-block;
                            padding: 5px 20px;
                            color: @FontColor;
                            font-family: @sans-light;
                            font-size: 14px;
                            margin-left: 2px;

                            &:first-child {
                                margin-left: 0;
                            }
                        }
                    }

                    a {
                        display: inline-block;
                        margin-top: 10px;
                        text-decoration: none;
                        color: inherit;
                        padding: 10px 25px;
                        border: 1px solid @SecondColor;
                        font-family: @sans-light;
                        font-size: 12px;
                        text-transform: uppercase;
                        -moz-transition: all 0.15s ease-out;
                        -o-transition: all 0.15s ease-out;
                        -webkit-transition: all 0.15s ease-out;
                        transition: all 0.15s ease-out;

                        &:hover {
                            background: @Contrast;
                            border: 1px solid @Contrast;
                        }
                    }
                }
            }
        }
    }
}

.skills-wrapper, .work-wrapper {
    width: 90%;
    margin: 0px auto;

    table {
        width: 100%;

        td {
            &:first-child {
                vertical-align: top;
                width: 30%;
                text-align: right;
                padding-right: 30px;

                h2 {
                    font-family: @serif-light;
                }
            }

            &:last-child {
                width: 70%;
            }
        }
    }
}

.para-image-wrapper {
    width: 100%;
}

.overlay {
    background: transparent url(images/03.png) repeat 0 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#about {


    .about-wrapper {
        margin: 0px auto;
        padding: 75px 0px;
        color: @FontColor;
        width: 750px;
        position: relative;
        top: 100px;

        .photo-wrap {
            width: 600px;
            height: 90px;
            background: @FontColor url(images/pic01.jpg) no-repeat 40% 95%;
            background-attachment: fixed;
            overflow: hidden;
            position: relative;
            z-index: 3;

            h1 {
                position: absolute;
                color: @SecondColor;
                z-index: 3;
                padding: 20px 10px;
                margin: 0;
                font-size: 2.8em;
                font-family: @serif-light;
                -webkit-text-shadow: 1px 1px @FontColor;
                text-shadow: 1px 1px @FontColor;
            }
        }

        .text-wrap {
            width: 750px;
        }
    }
}

#contact {
    background: @FontColor;

    .contact-wrapper {
        height: 400px;
        width: 70%;
        margin: 0px auto;
        padding-top: 15%;

        table {
            width: 100%;

            td {
                width: 50%;
            }

            .social-wrap {
                text-align: right;
                padding-right: 20px;
                padding-top: 10px;

                h1 {
                    color: @SecondColor;
                    font-size: 2.5em;
                    font-family: @serif-light;
                }

                .icon-wrap {
                    margin-top: 3px;
                    display: inline-block;

                    button {
                        border: none;
                        width: 50px;
                        height: 50px;
                        background: @SecondColor;
                        -moz-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        -webkit-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                        outline: none;

                        &:focus, &:hover {
                            background: @FontColor;
                            border: 1px solid @SecondColor;
                            color: @SecondColor;
                        }
                    }
                }
            }
        }

        form {
            textarea {
                .input-basics();
                height: 75px;
                max-height: 75px;
            }

            input {
                &[type="text"] {
                    .input-basics();
                }

                &[type="email"] {
                    .input-basics();
                }

                &[type="submit"] {
                    padding: 10px 30px 8px 30px;
                    margin: 4px;
                    border: 1px solid @SecondColor;
                    text-transform: uppercase;
                    font-family: @sans-light;
                    font-size: 13px;
                    background: @FontColor;
                    color: @SecondColor;
                    outline: none;

                    &:focus, &:hover {
                        background: @SecondColor;
                        color: @FontColor;
                    }
                }
            }
        }

        .input-basics {
            min-width: 300px;
            max-width: 300px;
            min-height: 25px;
            padding: 4px;
            margin: 4px;
            border: 1px solid @SecondColor;
            background: @FontColor;
            color: @SecondColor;
            outline: none;

            &:focus {
                background: @SecondColor;
                color: @FontColor;
            }
        }
    }
}

footer {
    position: absolute;
    z-index: 3;
    margin-top: -40px;
    text-align: center;
    width: 100%;
    color: @MainColor;
    font-family: @sans-light;

    p {
        font-size: 12px;
        -webkit-text-stroke: 0pt !important;
    }
}


::-webkit-input-placeholder { /* WebKit browsers */
    color: @SecondColor;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: @SecondColor;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: @SecondColor;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: @SecondColor;
}

h1, h2, h3, h4, h5, h6, p {
    -webkit-text-stroke: 0.2pt !important;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
