﻿@FontColor: #111;
@serif-bold: 'aleobold';
@serif-regular: 'aleoregular';
@serif-light: 'aleolight';
@sans-light: 'weblysleek_uilight';

header {
    top: 0px;
    z-index: 99;
}

.display-wrapper {
    min-height: 100%;

    .no-item {
        padding: 200px 0px;
        width: 70%;
        margin: 0 auto;
        display: none;

        h1 {
            font-size: 8.5em;
            padding: 0px;
            margin: 0px;
        }

        h2 {
            font-family: @serif-light;
            padding-bottom: 20px;
        }
    }

    .showcase-wrap {
        .info-wrap {
            max-width: 450px;
            position: fixed;
            z-index: 2;
            top: 75%;
            left: 12%;
            background: rgba(0,0,0,0.4);
            h1 {
                padding: 10px 20px;
                color: #FFF;
                background: rgba(0,0,0,0.4);
                margin: 0;
                text-transform: capitalize;
                font-family: @serif-regular;
                font-size: 2.5em;
            }
        }

        .imag-wrap {
            width: 100%;
            height:100%;
            text-align: center;
            margin-top: 55px;
            background: #FFF url(images/img-loader.gif) no-repeat center center;
            overflow-x:hidden;
            a {


                img {
                    
                    max-width: 100%;
                    height: auto;
                    -webkit-user-select: none; /* Chrome all / Safari all */
                    -moz-user-select: none; /* Firefox all */
                    -ms-user-select: none; /* IE 10+ */
                    -o-user-select: none;
                    user-select: none;
                }
            }
        }
    }
}

a.default-white {
    text-decoration: none;
    padding: 9px 20px 10px 20px;
    color: inherit;
    border: 1px solid @FontColor;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    font-family: @sans-light;
    text-transform: uppercase;
    font-size: 13px;

    &:hover {
        background: @FontColor;
        color: #FFF;
    }
}
