﻿header {
  top: 0px;
  z-index: 99;
}
.display-wrapper {
  min-height: 100%;
}
.display-wrapper .no-item {
  padding: 200px 0px;
  width: 70%;
  margin: 0 auto;
  display: none;
}
.display-wrapper .no-item h1 {
  font-size: 8.5em;
  padding: 0px;
  margin: 0px;
}
.display-wrapper .no-item h2 {
  font-family: 'aleolight';
  padding-bottom: 20px;
}
.display-wrapper .showcase-wrap .info-wrap {
  max-width: 450px;
  position: fixed;
  z-index: 2;
  top: 75%;
  left: 12%;
  background: rgba(0, 0, 0, 0.4);
}
.display-wrapper .showcase-wrap .info-wrap h1 {
  padding: 10px 20px;
  color: #FFF;
  background: rgba(0, 0, 0, 0.4);
  margin: 0;
  text-transform: capitalize;
  font-family: 'aleoregular';
  font-size: 2.5em;
}
.display-wrapper .showcase-wrap .imag-wrap {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 55px;
  background: #ffffff url(images/img-loader.gif) no-repeat center center;
  overflow-x: hidden;
}
.display-wrapper .showcase-wrap .imag-wrap a img {
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
  /* Chrome all / Safari all */

  -moz-user-select: none;
  /* Firefox all */

  -ms-user-select: none;
  /* IE 10+ */

  -o-user-select: none;
  user-select: none;
}
a.default-white {
  text-decoration: none;
  padding: 9px 20px 10px 20px;
  color: inherit;
  border: 1px solid #111111;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  font-family: 'weblysleek_uilight';
  text-transform: uppercase;
  font-size: 13px;
}
a.default-white:hover {
  background: #111111;
  color: #FFF;
}
